@font-face {
    font-family: Pipboy;
    src: url('../monofonto.ttf');

}

body{
    font-family: Pipboy, sans-serif;
    color: #51fe7d !important;
    background: #272b23;
}

body::after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 2px, transparent 2px, transparent 4px);
    opacity: 0.3;
    z-index: 100;
    pointer-events: none;
}

.navbar.navbar-expand-lg.navbar-expand-md.navbar-light {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar .navbar-nav {
    
}

.navbar.navbar-expand-lg.navbar-expand-md.navbar-light::before, 
.navbar.navbar-expand-lg.navbar-expand-md.navbar-light::after {
    height: 7px;
    width: 2px;
    position: absolute;
    display: block;
    content: "";
    background: #51fe7d;
    bottom: -8px;
}

.navbar.navbar-expand-lg.navbar-expand-md.navbar-light::before {
    left: 0px;
}

.navbar.navbar-expand-lg.navbar-expand-md.navbar-light::after {
    right: 0px;
}

.nav-item {
    position: relative;
    min-width: fit-content;
}

.nav-item.active::before {
    content: "";
    position: absolute;
    --width: 100%;
    width: var(--width);
    padding: 10px;
    height: 28px;
    bottom: -10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    background: #272b23;
    margin-left: calc((var(--width) / 2) * -1);
    left: 50%;
}

#mainNav .nav-item {
    font-size: 32px;
    line-height: 22px;
    padding: 0% 1%;
    margin: 0% 12%;
    font-weight: bold;
}

#mainNav .nav-link {
    position: relative;
    z-index: 50;
    background: #272b23;
    width: 100%;
    color: #51fe7d;
}


.nav.nav-tabs {
    border-bottom: none;
    margin: 10px;
}

.nav-tabs .nav-link {
    font-size:26px;
    border: 1px solid transparent !important;
    background: transparent !important;

}

.nav-link, .nav-link:hover {
    padding: 5px 10px;
    position: relative;
    z-index: 50;
    background: #272b23;
    margin: auto;
    color: #51fe7d !important;
}

/*
.nav-tabs > li:nth-child(2) > a {
    opacity: .6;
}

.nav-tabs > li:nth-child(3) > a {
    opacity: .2;
}
*/

.nav-tabs > li > .active {
    opacity: 1;
}

.nav-tabs > li > a {
    opacity: .6;
}

a {
    color: #51fe7d;
}

.center-image .map {
    display: block;
    position: absolute;
    max-width: 900px;
    margin-left: calc(50% - 450px);
    margin-bottom: 50px;
}

.greenify {
    filter: sepia(1) hue-rotate(55deg) brightness(0.7) contrast(0.8) saturate(10);
}

#sit-gif {
    filter: sepia(1) hue-rotate(55deg) brightness(0.6) contrast(0.5) saturate(20);
}

#relax-gif {
    filter: sepia(1) hue-rotate(55deg) brightness(0.9) contrast(0.5) saturate(8);
}

#walk-gif {
    filter: sepia(1) hue-rotate(70deg) saturate(3);
}

#study-gif {
    filter: sepia(1) hue-rotate(55deg) brightness(0.7) contrast(0.5) saturate(19);
}

#skip-gif {
    filter: sepia(1) hue-rotate(55deg) brightness(0.7) contrast(0.5) saturate(19);
    height: 400px;
}

.vaultboy {
    height: 300px;
}

.vaultboy-container {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#vaultboy-relax-container {
    bottom: 4%;
}

#vaultboy-sit-container {
    bottom: -170%;
}

#vaultboy-skip-container {
    bottom: -140%;
    left: 5%;
}

#detail-container {
    margin-top: 20px;
}

.center-image #vaultBoy {
    margin: auto;
    display: block;
    position: relative;
    max-height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 125px);
}

.stat-bars > .row {
    margin-bottom: 85px;
}

.stat-bar {
    width: 60px;
    margin: auto;
}

#status {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.stat-numbers {

}

.stat-numbers > .col-1, .stat-numbers > .col-2 {
    background: rgba(81, 254, 125, 0.15);
    padding: 5px;
    border: 2px solid #272b23 ;
}

.stat-numbers > .transparent {
    background: transparent;
}

.stat-numbers img {
    width: 100%;
    filter: invert(2) contrast(0.4) sepia(100%) hue-rotate(55deg);

}

.stat-numbers .icon {
    margin: auto;
}

.icon > img {
    width: auto;
    max-height: 25px;
    max-width: -webkit-fill-available;
    margin-bottom: 10px;
}

.stat-numbers .points {
    position: absolute;
    bottom: 0px;
    margin-left: calc(50% - 14px);
    margin-top: 5px;
}

.item-list {
    float: left;
    padding: 0;
    list-style: none;
    margin: 0px;
}


.item-list li.active {
    list-style: square;
}

.item-list li a {
    display: block;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 2px;
    font-size: 15pt;
}

.item-list li a:hover {
    background: #51fe7d;
    color: #272b23;
    text-decoration: none;
}

#detail-container li {
    list-style: square;
    margin-bottom: 10px;
}


.tab-content {
    margin-top: 3vh;
}

.tab-pane.full {
    height: calc(100vh - 180px);
}

.item-stats {
    position: absolute;
    right: 15px;
    width: 50%;
}

.item-stats .row {
    background: rgba(81, 254, 125, 0.15);
    border: 2px solid #272b23;
}

#level-disclaimer {
    font-size: small;
}

.pip-footer{    
    position: fixed;
    bottom:  0;
    width: calc(100% - 20px);
    margin:  10px;
    border: none;
    font-size: 22px;
}

.level-progress {
    width: 70%;
    height: 10px;
    border: 2px solid;
    display: inline-block;
}

.level-progress-indicator {
    height: 6px;
    background: #51fe7d;
    width: 70%; 
}

.pip-footer .col-3, .pip-footer .col-6 {
    background: rgba(81, 254, 125, 0.15)
}

.pip-footer .col-6 {
    border-left: 2px solid #272b23;
    border-right: 2px solid #272b23;
}